@import url("swiper.min.css" );
@import url('common.css');
body{
	background-image:url(../qyh-img/q-bg.png) ;
	background-size:cover ;
	width:100%;
	height: 100%;
}
.swiper-container.q-active{
	display: none;
}
header{
	height:0.8rem;
	position: fixed;
	top:0;
	left:0;
}
article.q-form{
	width:5.54rem;
	height:7.1rem;
	border-radius: 5px;
	margin:2.17rem auto 0;
	position: fixed;
	top:0.88rem;
	left:0;
}
article.q-form >.q-ti{
	width:100%;
	height:0.70rem;
	display: flex;
	justify-content: space-between;
}
article.q-form >.q-ti > li{
	width:50%;
	height:0.5rem;
	text-align: center;
	line-height: 0.5rem;
	font-size: 0.24rem;
	margin-top: 0.2rem;
	background: #fff;
	border-radius: 3px 3px 0 0;
}
article.q-form >.q-ti > li.q-active{
	height:100%;
	margin-top:0 ;
	line-height: 0.65rem;
	color:#FFDC3B;
}
form.q-phone{
	width:100%;
	height:6.4rem;
	background: #fff;
	border-radius:0 0 3px 3px;
}

form.q-phone > div{
	position: relative;
	width:100%;
	height:3.1rem;
	box-sizing: border-box;
	padding:0.2rem;
}
form.q-phone > div > input{
	height:1rem;
	width:72%;
	position: absolute;
	left: 0.15rem;
	padding-left: 1.2rem;
	border:none;
	border-bottom: 1px dotted #FFDC3B;;
	outline: 0;
}
form.q-phone > div > input:first-of-type{
	top:0.5rem;
}
form.q-phone > div > input:last-of-type{
	top:1.7rem;
}
form.q-phone > div >img:first-child{
	position: absolute;
	top:0.7rem;
	left:0.3rem;
	z-index: 3;
}
form.q-phone > div >img:nth-of-type(2){
	position: absolute;
	top:1.85rem;
	left:0.3rem;
	z-index: 3;
}
form.q-phone > div >img:nth-of-type(3){
	position: absolute;
	top:2.1rem;
	right:0.3rem;
	z-index: 3;
}
form.q-phone > div.q-active{
	display: none;
}
form.q-phone > a{
	display: block;
	font-size: 0.32rem;
	color:#333;
	float: left;
	margin:0 0.3rem;
}
form.q-phone > a.zhuce{
	float: right;
}
form.q-phone > input{
	background-image:url(../qyh-img/denglu.png) ;
	width:3rem;
	height:0.72rem;
	background-size:cover;
	border:0;
	display: block;
	margin:1.3rem auto 0;
	outline: 0;
}
footer{
	width:100%;
	padding:0.3rem 1rem;
	box-sizing: border-box;
	text-align: right;
	color:#fff;
	font-size: 0.32rem;
}
footer > span{
	color:#fff;
	font-size: 0.36rem;
	font-family: '宋体';
	font-weight: bold;
}
